// ====================================================================================
// Blueprint Patterns
// ====================================================================================

.bg-blueprint-white-1 {background-image: $blueprint-white-grid-1;}
.bg-blueprint-white-2 {background-image: $blueprint-white-grid-2;}
.bg-blueprint-white-3 {background-image: $blueprint-white-grid-3;}
.bg-blueprint-white-4 {background-image: $blueprint-white-grid-4;}

//.bg-blueprint-black-1 {background-image: $blueprint-black-grid-1;}
//.bg-blueprint-black-2 {background-image: $blueprint-black-grid-2;}
//.bg-blueprint-black-3 {background-image: $blueprint-black-grid-3;}
//.bg-blueprint-black-4 {background-image: $blueprint-black-grid-4;}

//.bg-blueprint-blue-1 {background-image: $blueprint-blue-grid-1;}
//.bg-blueprint-blue-2 {background-image: $blueprint-blue-grid-2;}
//.bg-blueprint-blue-3 {background-image: $blueprint-blue-grid-3;}
//.bg-blueprint-blue-4 {background-image: $blueprint-blue-grid-4;}