// ====================================================================================
// Responsive Text
// ====================================================================================

// Viewport Units

.vw6 {font-size: 6vw;}
.vw5-5 {font-size: 5.5vw;}
.vw5 {font-size: 5vw;}
.vw4-5 {font-size: 4.5vw;}
.vw4 {font-size: 4vw;}
.vw3-5 {font-size: 3.5vw;}
.vw3 {font-size: 3vw;}
.vw2-5 {font-size: 2.5vw;}
.vw2 {font-size: 2vw;}
.vw1-5 {font-size: 1.5vw;}
.vw1 {font-size: 1vw;}