// ====================================================================================
// Core Media Queries - Widths
// ====================================================================================


// XL
@media only screen and (min-width: $breakpoint-lg) { 

// Width
.xl-width-fill {width: 100%;}

// Text Alignment
.xl-tcenter {text-align: center;}
.xl-tleft {text-align: left;}
.xl-tright {text-align: right;}
.xl-tjustified {text-align: right;}

// Floats
.xl-fright {float: right;}
.xl-fleft {float: left;}
.xl-fnone {float: none;}

// Auto Margin
.xl-xmauto {margin-left: auto; margin-right: auto;}

// On/Off - block
.xl-off {display: none;}
.lg-off {display: block;}
.md-off {display: block;}
.sm-off {display: block;}
.xs-off {display: block;}

.xl-on {display: block;}
.lg-on {display: none;}
.md-on {display: none;}
.sm-on {display: none;}
.xs-on {display: none;}

.xl-down-off {display: none;}
.xl-down-on {display: block;}

.lg-down-off {display: block;}
.lg-down-on  {display: none;}
.md-down-off {display: block;}
.md-down-on  {display: none;}
.sm-down-off {display: block;}
.sm-down-on  {display: none;}
.xs-down-off {display: block;}
.xs-down-on  {display: none;}

// On/Off - inline-block
.di-xl-off {display: none;}
.di-lg-off {display: inline-block;}
.di-md-off {display: inline-block;}
.di-sm-off {display: inline-block;}
.di-xs-off {display: inline-block;}

.di-xl-on {display: inline-block;}
.di-lg-on {display: none;}
.di-md-on {display: none;}
.di-sm-on {display: none;}
.di-xs-on {display: none;}

.di-xl-down-off {display: none;}
.di-xl-down-on {display: inline-block;}

.di-lg-down-off {display: inline-block;}
.di-lg-down-on  {display: none;}
.di-md-down-off {display: inline-block;}
.di-md-down-on  {display: none;}
.di-sm-down-off {display: inline-block;}
.di-sm-down-on  {display: none;}
.di-xs-down-off {display: inline-block;}
.di-xs-down-on  {display: none;}

}


// Large
@media only screen and (max-width: $breakpoint-lg) { 

// Width
.lg-width-fill {width: 100%;}

// Text Alignment
.lg-tcenter {text-align: center;}
.lg-tleft {text-align: left;}
.lg-tright {text-align: right;}
.lg-tjustified {text-align: right;}

// Floats
.lg-fright {float: right;}
.lg-fleft {float: left;}
.lg-fnone {float: none;}

// Auto Margin
.lg-xmauto {margin-left: auto; margin-right: auto;}

// On/Off - block
.xl-off {display: block;}
.lg-off {display: none;}
.md-off {display: block;}
.sm-off {display: block;}
.xs-off {display: block;}

.xl-on {display: none;}
.lg-on {display: block;}
.md-on {display: none;}
.sm-on {display: none;}
.xs-on {display: none;}

.lg-down-off {display: none;}
.lg-down-on  {display: block;}

.md-down-off {display: block;}
.md-down-on  {display: none;}
.sm-down-off {display: block;}
.sm-down-on  {display: none;}
.xs-down-off {display: block;}
.xs-down-on  {display: none;}


// On/Off - inline-block
.di-xl-off {display: inline-block;}
.di-lg-off {display: none;}
.di-md-off {display: inline-block;}
.di-sm-off {display: inline-block;}
.di-xs-off {display: inline-block;}

.di-xl-on {display: none;}
.di-lg-on {display: inline-block;}
.di-md-on {display: none;}
.di-sm-on {display: none;}
.di-xs-on {display: none;}

.di-lg-down-off {display: none;}
.di-lg-down-on  {display: inline-block;}

.di-md-down-off {display: inline-block;}
.di-md-down-on  {display: none;}
.di-sm-down-off {display: inline-block;}
.di-sm-down-on  {display: none;}
.di-xs-down-off {display: inline-block;}
.di-xs-down-on  {display: none;}



}

// Medium  
@media only screen and (max-width: $breakpoint-md) { 

// Typography
.superhero {font-size: $key-font-size * 3;}
.hero {font-size: $key-font-size * 2;}

// Width
.md-width-fill {width: 100%;}

// Auto Margin
.md-xmauto {margin-left: auto; margin-right: auto;}

// Text Alignment
.md-tcenter {text-align: center;}
.md-tleft {text-align: left;}
.md-tright {text-align: right;}
.md-tjustified {text-align: right;}

// Floats
.md-fright {float: right;}
.md-fleft {float: left;}
.md-fnone {float: none;}

// On/Off - block
.xl-off {display: block;}
.lg-off {display: block;}
.md-off {display: none;}
.sm-off {display: block;}
.xs-off {display: block;}

.xl-on {display: none;}
.lg-on {display: none;}
.md-on {display: block;}
.sm-on {display: none;}
.xs-on {display: none;}

.md-down-off {display: none;}
.md-down-on {display: block;}

.sm-down-off {display: block;}
.sm-down-on  {display: none;}
.xs-down-off {display: block;}
.xs-down-on  {display: none;}

// On/Off - inline-block
.di-xl-off {display: inline-block;}
.di-lg-off {display: inline-block;}
.di-md-off {display: none;}
.di-sm-off {display: inline-block;}
.di-xs-off {display: inline-block;}

.di-xl-on {display: none;}
.di-lg-on {display: none;}
.di-md-on {display: inline-block;}
.di-sm-on {display: none;}
.di-xs-on {display: none;}

.di-md-down-off {display: none;}
.di-md-down-on {display: inline-block;}

.di-sm-down-off {display: inline-block;}
.di-sm-down-on  {display: none;}
.di-xs-down-off {display: inline-block;}
.di-xs-down-on  {display: none;}

} 

// Small
@media only screen and (max-width: $breakpoint-sm) { 

// Typography
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {line-height: 1.3em;}
.superhero {font-size: $key-font-size * 1.8;}
.hero {font-size: $key-font-size * 1.6;}

// Panel
.panel {padding: 6%;}

// Width
.sm-width-fill {width: 100%;}

// Text Alignment
.sm-tcenter {text-align: center;}
.sm-tleft {text-align: left;}
.sm-tright {text-align: right;}
.sm-tjustified {text-align: right;}

// Floats
.sm-fright {float: right;}
.sm-fleft {float: left;}
.sm-fnone {float: none;}

// Auto Margin
.sm-xmauto {margin-left: auto; margin-right: auto;}

// On/Off - block
.xl-off {display: block;}
.lg-off {display: block;}
.md-off {display: block;}
.sm-off {display: none;}
.xs-off {display: block;}

.xl-on {display: none;}
.lg-on {display: none;}
.md-on {display: none;}
.sm-on {display: block;}
.xs-on {display: none;}

.sm-down-off {display: none;}
.sm-down-on {display: block;}

.xs-down-off {display: block;}
.xs-down-on  {display: none;}

// On/Off - inline-block
.di-xl-off {display: inline-block;}
.di-lg-off {display: inline-block;}
.di-md-off {display: inline-block;}
.di-sm-off {display: none;}
.di-xs-off {display: inline-block;}

.di-xl-on {display: none;}
.di-lg-on {display: none;}
.di-md-on {display: none;}
.di-sm-on {display: inline-block;}
.di-xs-on {display: none;}

.di-sm-down-off {display: none;}
.di-sm-down-on {display: inline-block;}

.di-xs-down-off {display: inline-block;}
.di-xs-down-on  {display: none;}

}

// XS
@media only screen and (max-width: $breakpoint-xs) { 

// Typography
.superhero {font-size: $key-font-size * 1.6;}
.hero {font-size: $key-font-size * 1.4;}

// Width
.xs-width-fill {width: 100%;}

// Text Alignment
.xs-tcenter {text-align: center;}
.xs-tleft {text-align: left;}
.xs-tright {text-align: right;}
.xs-tjustified {text-align: right;}

// Floats
.xs-fright {float: right;}
.xs-fleft {float: left;}
.xs-fnone {float: none;}

// Auto Margin
.xs-xmauto {margin-left: auto; margin-right: auto;}

// On/Off - block
.xl-off {display: block;}
.lg-off {display: block;}
.md-off {display: block;}
.sm-off {display: block;}
.xs-off {display: none;}

.xl-on {display: none;}
.lg-on {display: none;}
.md-on {display: none;}
.sm-on {display: none;}
.xs-on {display: block;}

.xs-down-off {display: none;}
.xs-down-on {display: block;}

// On/Off - inline block
.di-xl-off {display: inline-block;}
.di-lg-off {display: inline-block;}
.di-md-off {display: inline-block;}
.di-sm-off {display: inline-block;}
.di-xs-off {display: none;}

.di-xl-on {display: none;}
.di-lg-on {display: none;}
.di-md-on {display: none;}
.di-sm-on {display: none;}
.di-xs-on {display: inline-block;}

.di-xs-down-off {display: none;}
.di-xs-down-on {display: inline-block;}

}


// ====================================================================================
// Core Media Queries - Heights
// ====================================================================================


// Tall Browsers 
@media only screen and (min-height: $breakpoint-short) { 
	
// On/Off - block
.tall-on {display: block;}
.short-on {display: none;}

.tall-off {display: none;}
.short-off {display: block;}

// On/Off - inline-block
.di-tall-on {display: inline-block;}
.di-short-on {display: none;}

.di-tall-off {display: none;}
.di-short-off {display: inline-block;}

}


// Short Browsers 
@media only screen and (max-height: $breakpoint-short) { 

// On/Off - block
.tall-on {display: none;}
.short-on {display: block;}

.tall-off {display: block;}
.short-off {display: none;}

// On/Off - inline-block
.di-tall-on {display: none;}
.di-short-on {display: inline-block;}

.di-tall-off {display: inline-block;}
.di-short-off {display: none;}

}